name: Build 2

on:
  push:
    branches:
    - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Earthly build
        uses: ./.github/actions/earthly
        with:
          target: build
