name: Build & Deploy

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        type: choice
        required: true
        default: production
        options:
        - staging
        - production

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Earthly build
        uses: ./.github/actions/earthly
        with:
          target: build

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    environment: ${{ inputs.environment || 'staging' }}
    steps:
      - uses: actions/checkout@v2
      - name: Earthly build
        uses: ./.github/actions/earthly
        with:
          target: image
          build-args: |-
            MY_ARG=${{ inputs.environment == 'production' && '-prod' || '' }}
            TAG=gha-${{ github.run_number }}
          push: true
          no-cache: true
          use-inline-cache: true
          save-inline-cache: true
          remote-cache: alpine:3.19
          max-remote-cache: true
          cache-from: |
            alpine:3.19
            debian:bookworm
