name: Build & Deploy

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        type: choice
        required: true
        default: production
        options:
        - staging
        - production

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: earthly/actions-setup@v1
        with:
          version: 0.8.4
      - uses: actions/checkout@v2
      - name: Earthly build
        uses: ./.github/actions/earthly
        with:
          target: build
          build-args: |
            --MY_ARG=foo
            --OTHER_ARG=bar
          push: true

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    environment: ${{ inputs.environment || 'staging' }}
    steps:
      - run: echo "Deployed to ${{ secrets.THE_SECRET }}"
